@import '../../init/Color.scss';
@import '../../init/Common.scss';
@import '../../init/Font.scss';
@import '../../init/Measures.scss';
@import '../../init/Reset.scss';
@import '../../mediaQuery.scss';

@media #{$phone} {
  .signup_title {
    margin: 0 auto;
    width: 100%;
    background-color: yellow;
  }
}
