@import '../../init/Color.scss';
@import '../../init/Common.scss';
@import '../../init/Font.scss';
@import '../../init/Measures.scss';
@import '../../init/Reset.scss';
@import '../../mediaQuery.scss';

@media #{$phone} {
  .wrap_type {
    margin: 0 auto;
    width: 100%;
    .signin_wrap {
      margin: $section_margin;
      .signin_title_wrap {
        .right_arrow_btn {
          margin-top: $vertical_header;
        }
        .signup_title {
          font-family: 'NotoSansKRBold';
          font-size: 2.14em;
          letter-spacing: -0.02em;
          line-height: 43px;
        }
        .signup_subtitle {
          margin-top: $vertical_space;
          font-family: 'NotoSansKRRegular';
          font-size: 16px;
          letter-spacing: -0.04em;
          line-height: 23px;
          color: $dark-gray;
        }
      }
      .signup_container {
        margin-top: $vertical_section;
        font-family: 'NotoSansKRRegular';
        color: $dark-gray;
        .branch_label {
          display: flex;
          flex-direction: column;
          #branch {
            margin: $vertical_icon_space 0;
            height: 48px;
          }
          .find_branch_caption {
            font-size: 12px;
            line-height: 17px;
            letter-spacing: -0.04em;
          }
        }
        .account_input_box {
          margin-top: $vertical_space;
          .input_large {
            margin-bottom: $vertical_input_space;
          }
        }
        .personal_info_select_content {
          .personal_info_label {
            display: flex;
            flex-direction: column;
            .mobile_select_content {
              width: 100%;
              background-color: red;
              margin-top: $vertical_input_space;
              .select_small {
                margin-bottom: $vertical_input_space;
              }
            }
          }
        }
      }
    }
  }
}
