@import '../../init/Color.scss';
@import '../../init/Common.scss';
@import '../../init/Font.scss';
@import '../../init/Measures.scss';
@import '../../init/Reset.scss';
@import '../../mediaQuery.scss';

@media #{$phone} {
  .todo_insert_wrap {
    display: flex;
    align-content: center;
    align-items: center;
    :first-child {
      flex: 1;
    }
  }
}
