$dark-gray: #999999;
$silver: #bbbbbb;
$white_smoke: #f6f6f6;
$gainsboro: #dddddd;
$white: #ffffff;
$whisper: #eeeeee;
$night-rider: #333333;
$greenery: #44c377;
$titanium-white: #e4e4e4;
$dodger-blue: #0085ff;
