@import '../init/Color.scss';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans';
}
//input type=number에서 button 삭제하는 기능
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//input type=number에서 button 삭제하는 기능
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-ms-input-placeholder {
  color: $silver;
}

// Internet Explorer 10 이상에 적용 (input inner text color)

input::-webkit-input-placeholder {
  color: $silver;
}
//  Webkit, Blink, Edge에 적용 (input inner text color)

input::-moz-placeholder {
  color: $silver;
}
// Mozilla Firefox에 적용 (input inner text color)

select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: url('../../assets/arrow_down_grey.svg') no-repeat 93% 50%/24px
    auto;
}
select::-ms-expand {
  display: none; /*for IE10,11*/
  background: url('../../assets/arrow_down_grey.svg') no-repeat 97% 50%/24px
    auto;
}
