$vertical_header: 44px;
$vertical_header_section: 48px;
$vertical_landing_header: 92px;
$vertical_section: 32px;
$vertical_space: 12px;
$vertical_input_space: 16px;
$vertical_icon_space: 8px;
$section_margin: 4.27%;
